.blog {
  width: 100%;
}

/* search bar CSS */

.search-bar {
  width: 100%;
  height: 100px;
  margin-bottom: 105px;
  background: var(--color-red);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-bar input {
  width: calc(100% - 30px);
  height: 50px;
  max-width: 1115px;
  border-radius: 10px;
  border: 0px;
  padding: 0px 20px;
  background: #ffffff;

  font: 400 1.8rem Roboto;
  color: var(--color-dark-light);
  outline: none;
}

.search-bar ::-webkit-input-placeholder {
  color: var(--color-shadow-color);
}

.search-bar :-moz-placeholder { /* Firefox 18- */
  color: var(--color-shadow-color);  
}

.search-bar ::-moz-placeholder {  /* Firefox 19+ */
  color: var(--color-shadow-color);  
}

.search-bar :-ms-input-placeholder {  
  color: var(--color-shadow-color);  
}

/* blog posts CSS */

.blog .posts .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 140px;
}