.blog {
  width: 100%;
}

/* search bar CSS */

.search-bar {
  width: 100%;
  height: 100px;
  margin-bottom: 105px;
  background: var(--color-red);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-bar input {
  width: calc(100% - 30px);
  height: 50px;
  max-width: 1115px;
  border-radius: 10px;
  border: 0px;
  padding: 0px 20px;
  background: #ffffff;

  font: 400 1.8rem Roboto;
  color: var(--color-dark-light);
  outline: none;
}

.search-bar ::-webkit-input-placeholder {
  color: var(--color-shadow-color);
}

.search-bar :-moz-placeholder { /* Firefox 18- */
  color: var(--color-shadow-color);  
}

.search-bar ::-moz-placeholder {  /* Firefox 19+ */
  color: var(--color-shadow-color);  
}

.search-bar :-ms-input-placeholder {  
  color: var(--color-shadow-color);  
}

/* blog posts CSS */

.blog .posts .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 140px;
}

.blog .posts .container .post {
  border: 1px solid #babace;
  background-color: #F0F0F7;
  padding: 20px 20px;
  height: 100%;
  margin: 60px 15px;
  min-width: 290px;
  flex: 1;
}

.blog .posts .container .post .image {
  height: 215px;
  width: 100%;
  background: #c4c4c4;
  margin-bottom: 20px;
}

.blog .posts .container .post .title {
  font: 500 2.4rem Sarabun;
  font-weight: bold;
  line-height: 28px;
  color: var(--color-darkest);
  margin: 0px 2px 16px 2px;
}

.blog .posts .container .post blockquote {
  font: 500 1.4rem Sarabun;
  line-height: 18px;
  color: var(--color-dark-light);
}

.blog .posts .container .post blockquote span {
  color: var(--color-darkest);
  letter-spacing: 0.03em;
  font-weight: bold;
}

.blog .posts .container .post p {
  color: var(--color-dark-light);
  font: 500 1.4rem Sarabun;
  line-height: 18px;
  margin-top: 24px;
}